.ms_width_searchbar{
    width: 100%;
    margin-left: 25px;
}
.ms_maincontainer{
    height: calc(100vh - 54px);
}

.ms_row_height{
    height: 100%;
}

.ms_debug{
    border-color: aqua; /*Debug*/
    border-style: dotted; /*Debug*/
    height: 100%;
    padding: 0;
}


.ms_containerheight{
    height: 100%;
}

.ms_topcontainer{
    height: 160px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.ms_padding0{
    padding: 0;
}

.ms_bottomcontainer{
    width: 100%;
    height: calc(100% - 150px);
    margin: 0;
    padding: 10px;
}

.ms_internalcolumns{
    padding: 10px;
    height: 100%;
}
.ms_text_padding{
    margin-top: 20px;
}
.card{
    width: 100%;
    height: 275px;
    margin-bottom: 10px;
}
.ms_fs-10{
    font-size: 10px;
}


@media screen and (max-width: 992px){
    .col-8{
        width: 100%;
    }

    .col-4{
        width: 100%; 
    }

    .ms_topcontainer{
        height: fit-content;
    }
}

