
.ms_maincontainer{
    height: calc(100vh - 54px);
}

.ms_sidebar_col{
    height: 100%;
    border-color: aqua; /*Debug*/
    border-style: dotted; /*Debug*/
} 

.ms_row_height{
    height: 100%;
}

.col-11{
    border-color: aqua; /*Debug*/
    border-style: dotted; /*Debug*/
}